.container-all{
    display:flex;
    align-items: stretch;
}

#sidebar{
    width: 250px;
    height:100%;
    background-color: black;
    color:white;
    transition: 1s;
}

#sidebar.active{
    margin-left: -210px;
}

.List-unstyled ul{
    margin: 0;
    list-style: none;
}

/* 整理右边标题的格式 */
.container-right{
    background-color: lavender;
    width: 100%;
    height: 100%;   
    text-align: center;
    padding: 30px;
    position:relative;
}
.requirement{
    position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px;
        font-style: italic;
    }
    body, html {
        height: 200vh;
        margin: 0;
}
.body{
    text-align: left;
}

.collapse-btn{
    position:relative;
    top: 2%;
    left: 210px;
    border: none;
    color: white;
    background-color: black;
    font-size: 20px;
    padding-left: 8px;
    border-radius: 3px;
}

.collapse-btn:hover{
    background-color: white;
    color:black;
    transition: 0.25s;
}

#sidebar p{
    text-align: Left;
    font-size: 24px;
    padding-top: 20px;  
    font-weight: bold;
    /* 如何去除前面的点？ */
    
   
}

#sidebar ul li a {
    padding: 10px;
    font-size: 20px;
    display: block;
    color: rgb(197, 192, 192);
    text-decoration: none;
   
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

.fa-solid {
    padding-left:4px
}

ul ul li a{
    /* 子栏格式 */
}

